* text=auto eol=lf

*.py text diff=python
*.md text
*.toml text
*.yml text
*.yaml text
*.json text
*.cfg text
*.ini text
*.sh text eol=lf
Dockerfile text eol=lf

LICENSE text
NOTICE text

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
